# Tarea 'Python'
## Andrés Felipe Salas Ávila
### Métodos intensivos de computación estadística

#### Punto 2

Escriba un cuaderno que contenga dos ejercicios propuestos y resueltos de colecciones, en los cuales utilice los diferentes métodos asociados a cada tipo de colección.

1. Defina un diccionario de al menos 4 llaves de tal manera que esas llaves sean tuplas. Acceda a cada elemento. ¿Puede hacer lo mismo para una llave que sea definida como lista o diccionario?

In [1]:
Dicc =dict([( (4, 0, 4), 'Error'),
            ( (1, 7, 10, 13), 'Números felices'),
            ( (1, 2, 4, 8), 'Divisores de 8'),
            ( ('Casa', 'House', 'Haus', 'Maison'), 'Casa')
            ])

In [3]:
print(Dicc[(4, 0, 4)])
print(Dicc[(1, 7, 10, 13)])
print(Dicc[(1, 2, 4, 8)])
print(Dicc[('Casa', 'House', 'Haus', 'Maison')])

Error
Números felices
Divisores de 8
Casa

En teoría, no se debería poder hacer esto mismo con listas o diccionarios, pues la facultad de las tuplas para poder ser llaves es que estas acaban definiendo un único elemento inmutable. Por otro lado, tanto las listas como los diccionarios se caracterizan por ser objetos que contienen algunos otros elementos, de modo que no cuentan con estas mismas características. No obstante, veamos qué ocurre si lo intentamos:

In [4]:
DiccLista = dict([( [4, 0, 4], 'Error'),
            ( [1, 7, 10, 13], 'Números felices'),
            ( [1, 2, 4, 8], 'Divisores de 8'),
            ( ['Casa', 'House', 'Haus', 'Maison'], 'Casa')
            ])

TypeError: unhashable type: 'list'

In [5]:
Dicc1 = dict([( '5', 'Aprobado'),
        ( '4', 'Aceptable'),
        ( '3', 'Raspando'),
        ( '1', 'Reprobado')
        ])
Dicc2 = dict([( 'Rafa', 'GOAT'),
        ( 'Roger', 'Casi GOAT'),
        ( 'Djokovic', 'Intento de GOAT')
        ])
Dicc3 = dict([( '1-0', 'Ganar'),
        ( '0-0', 'Empatar'),
        ( '0-1', 'Perder')
        ])
Dicc4 = Dicc.copy()
DiccDiccionario = dict([( Dicc1, '1'),
                  ( Dicc2, '2'),
                  ( Dicc3, '3'),
                  ( Dicc4, '4')
                  ])

TypeError: unhashable type: 'dict'

Note entonces que aquí aparece el concepto de una colección 'unhashable', lo cual quiere decir que el objeto en cuestión no puede ser transformado en un código estandarizado que pueda ser utilizado como una llave. Ahora bien, como ejercicio adicional, veamos que pasa si intentamos esto mismo con conjuntos.

In [6]:
Amigxs = {'Emmanuel','Daniela', 'Santiago'}
Apodos = {'Emma', 'Nani', 'Thiago'}
Cumpleanios = {'7Dic', '11Dic', '23Jul'}
Idiomas = {'Alemán', 'Italiano', 'Portugués'}

DiccConjuntos = dict([( Amigxs, 'Almuerzos'),
                ( Apodos, 'Carinio'),
                ( Cumpleanios, 'Fiesta'),
                ( Idiomas, 'Intercambio')
                ])

TypeError: unhashable type: 'set'

Así, vemos que contamos con el mismo problema.

2. Entienda lo que hace cada uno de los siguientes métodos para diccionarios y cree su propio ejemplo.

    * dict.keys()
    * dict.values()
    * dict.pop()
    * dict.popitem()
    * dict.update(____)

Para decir qué hace cada método, veamos e interpretemos sus salidas. No obstante, antes suponga que los Grupos de Estudio Autónomo (GEA), de la Dirección Académica, cuenta con un/una tutor@ representante por cada área de Ciencias. Así, por alguna razón est@s se encuentran dispuestos en un diccionario y cada un@ tiene como clave su área de acompañamiento.

In [13]:
DictGEA = dict([( 'Estadística', 'Andrés Salas'),
          ( 'Química', 'Camila Flórez'),
          ( 'Modelación Estática y Dinámica', 'Daniel Murillo'),
          ( 'Matemáticas', 'Paulina Castillo'),
          ( 'Física', 'Jean Pierre Cifuentes')
          ])

Así, imaginemos las siguientes situaciones:

##### Queremos conocer las áreas de ciencias que se acompañan en GEA.

Vemos entonces que esta información coincide con extraer las llaves del diccionario, de modo que podemos usar el siguiente comando:

In [14]:
print(DictGEA.keys())

dict_keys(['Estadística', 'Química', 'Modelación Estática y Dinámica', 'Matemáticas', 'Física'])

##### Queremos conocer l@s tutor@s encargad@s de estas áreas.

Vemos entonces que esta información coincide con los valores del diccionario, de modo que podemos usar el siguiente comando:

In [15]:
print(DictGEA.values())

dict_values(['Andrés Salas', 'Camila Flórez', 'Daniel Murillo', 'Paulina Castillo', 'Jean Pierre Cifuentes'])

##### La directora de GEA se da cuenta que así el área de Modelación sea del área de Ciencias, sus tutor@s pertenecen a la Facultad de Ciencias Económicas, de modo que, como necesita hacer una actividad solo con l@s tutor@s que pertenecen a la Facultad de Ciencias, necesita eliminar al tutor representante del área de Modelación y al área misma, pero necesita saber qué tutor está dejando por fuera.

Para eliminar un elemento, y su clave, del diccionario pero saber qué estamos eliminando, que es lo que precisamos, podemos usar el siguiente comando:

In [16]:
print(DictGEA.pop('Modelación Estática y Dinámica'))
print(DictGEA)

Daniel Murillo
{'Estadística': 'Andrés Salas', 'Química': 'Camila Flórez', 'Matemáticas': 'Paulina Castillo', 'Física': 'Jean Pierre Cifuentes'}

##### Ahora, se requiere escoger de manera aleatoria a un/una tutor/a en específico para una tarea especial pero teniendo en cuenta que por hacer esta tarea, es necesario apartarl@ del grupo para que no tenga labores de más.

Para cumplir con esta particular tarea, podemos usar el siguiente comando:

In [17]:
print(DictGEA.popitem())
print(DictGEA)

('Física', 'Jean Pierre Cifuentes')
{'Estadística': 'Andrés Salas', 'Química': 'Camila Flórez', 'Matemáticas': 'Paulina Castillo'}

##### Días antes de la actividad, le comunican a la directora que es importante que un/a tutor/a de Comunicación Oral debe asistir, de modo que se elige a Angie Ávila y, por otro lado, también le comentan que Camila Flórez no puede asistir, de modo que, Leonardo Tinjacá, otro tutor de Química, la reemplazará. Luego, se tiene que hacer esta actualización.

Para llevar a cabo esta actualización, necesitamos usar los siguientes comandos:

In [18]:
DictGEANuevxs = dict([( 'Comunicación Oral', 'Angie Ávila'),
                ( 'Química', 'Leonardo Tinjacá'),
                ])

DictGEA.update(DictGEANuevxs)
print(DictGEA)

{'Estadística': 'Andrés Salas', 'Química': 'Leonardo Tinjacá', 'Matemáticas': 'Paulina Castillo', 'Comunicación Oral': 'Angie Ávila'}

#### Punto 4

Escriba un cuadernos en donde implemente  una clase  iterable  que haga lo siguiente: 

    a) Al inicio abra el archivo y lo suba a un dataframe de Pandas.
    b) Entregue la información de la siguiente cuenta cuando se le pida el siguiente dato.

In [21]:
path = 'https://raw.githubusercontent.com/Asalasa34/PLN_y_AprendizajeReforzado/main/PLN1.csv'

In [48]:
import pandas

class Cuentas:
    
    MIN_SALDO = -10000 
    
    def __init__(self, No_Cuenta, Nombre, Ult_Transaccion, Saldo_Actual=0):
        self.Nombre = Nombre    
        self.No_cuenta = No_Cuenta
        self.Ult_Transaccion = Ult_Transaccion
        if Saldo_Actual < self.MIN_SALDO:
            raise ValueError("¡Saldo muy pequeño!")
        else:
            self.Saldo_Actual = Saldo_Actual
    
    @classmethod
    def from_pandas(cls, filepath):
            Data = pandas.read_csv(filepath)
            return Data

In [49]:
Cuentas.from_pandas(path)

   No_Cuenta   Nombre  Saldo_Actual Ult_Transaccion
0    7476957  Natalia        693658      30/08/2022
1    2910381     Dana       1326093      20/07/2022
2    5673342   Álvaro           900      12/01/2022
3    7401782   Andrés       9086532      09/05/2022

Así entonces, obtuvimos la manera de que nuestra clase nos lea directamente el archivo. No obstante, miremos cómo podemos hacer para que nos quede la clase con el atributo completo que arroje tanto el Data Frame como cada cuenta una por una.

In [77]:
import pandas

class Cuentas:
    
    MIN_SALDO = -10000 
    
    def __init__(self, No_Cuenta, Nombre, Ult_Transaccion, Saldo_Actual=0):
        self.Nombre = Nombre    
        self.No_cuenta = No_Cuenta
        self.Ult_Transaccion = Ult_Transaccion
        if Saldo_Actual < self.MIN_SALDO:
            raise ValueError("¡Saldo muy pequeño!")
        else:
            self.Saldo_Actual = Saldo_Actual
    
    @classmethod
    def siguiente(cls, Datos):
            Data = pandas.read_csv(Datos)
            for i in range(len(Data)):
                fila_i = Data.iloc[i]
                print(fila_i)
            return Data

In [78]:
Cuentas.siguiente(path)

No_Cuenta             7476957
Nombre                Natalia
Saldo_Actual           693658
Ult_Transaccion    30/08/2022
Name: 0, dtype: object
No_Cuenta             2910381
Nombre                   Dana
Saldo_Actual          1326093
Ult_Transaccion    20/07/2022
Name: 1, dtype: object
No_Cuenta             5673342
Nombre                 Álvaro
Saldo_Actual              900
Ult_Transaccion    12/01/2022
Name: 2, dtype: object
No_Cuenta             7401782
Nombre                 Andrés
Saldo_Actual          9086532
Ult_Transaccion    09/05/2022
Name: 3, dtype: object

   No_Cuenta   Nombre  Saldo_Actual Ult_Transaccion
0    7476957  Natalia        693658      30/08/2022
1    2910381     Dana       1326093      20/07/2022
2    5673342   Álvaro           900      12/01/2022
3    7401782   Andrés       9086532      09/05/2022